@import url("https://newpvsstorage.z16.web.core.windows.net/cdn/0.0.10/build/core.css?v=3");
/* @import url("https://newpvsstorage.z16.web.core.windows.net/cdn/0.0.10/build/fonts.css?v=2"); */

:host {
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  margin: 0;
  padding: 0;
}
